doctype html 
html
	head
		title Home Page
		link(rel="stylesheet" href='/css/style.css')
	body
		h1.heading Home Page
		div.link_box 
			a.link(href='torrent') Torrent	
		div.link_box 
			a.link(href='rss') Manga RSS
