*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 400;
  line-height: 1.7;
  color: black;
}

.heading {
	padding: 3rem;
	margin-bottom: ..5rem;
	font-size: 4.5rem;
  font-weight: 600;
  background-color: lightcoral;
  text-align: center;
}

.link_box{
	padding: 3rem;	
	text-align:center;
}

.link {
	font-size: 3.5rem;
	text-decoration: none;
	color: inherit;
}

.link:hover{
	color:blue;
}
